// Variáveis
$primary-color: #3c6382;
$secondary-color: #82ccdd;
$secondary-color-hover: #60a3bc;
$background-color: #f5f6fa;
$container-max-width: 1024px;
$container-padding: 16px;
$grid-gap: 1%;
$font-family: 'Roboto', sans-serif;
